/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    margin: auto;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}
/****** Header *******/

header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 79px;
}

header img {
    padding: 20px 0;
    width: 90px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

nav a {
    text-decoration: none;
    color: rgb(17, 17, 17);
    padding: 15px;
    font-size: 16px;
}

nav a:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}


/****** Search Part ******/

.search-part {
    margin: 30px 0;
    height: 281px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
}

.search-part .search-title {
    border: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.search-part form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search-part #loupe {
    display: none;
}

.search-part div {
    display: flex;
    justify-content: space-between;
    border: 0.1px solid rgb(187, 184, 184);
    border-radius: 15px;
    width: 377px;
    height: auto;
}

.search-part #loc {
    padding: 17px 18px;
    border-style: none;
    border-radius: 15px 0 0 15px;
    background-color: rgb(241, 238, 238);
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-part i {
    color: black;
    font-size: large;
}

.search-part input[type="text"] {
    text-align: center;
    font-weight: bold;
    border-style: none;
}

.search-part input[type="text"]:focus {
    outline: none;
    border: none;
}

.search-part button[type="submit"] {
    background-color: #0065FC;
    color: #F2F2F2;
    width: 132px;
    border-style: none;
    border-radius: 0 15px 15px 0;
    font-weight: 600;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-part button[type="submit"] span {
    padding: 0;
}

.search-part .filtres-container {
    border-style: none;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    width: 758px;
    height: 50px;
    gap: 15px;
}

.search-part ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    list-style: none;
    font-weight: bold;
}

.filtres-container p {
    font-weight: bold;
    font-size: 18px;
    height: 21px;
    width: 54px;
}

.search-part ul button {
    padding: 10px 25px;
    border-radius: 25px;
    border: 1px solid rgb(185, 184, 184);
    background: none;
    font-weight: bold;
    display: flex;
    gap: 10px;
}

.search-part ul button:hover {
    background-color: #7baaf0;
}

.search-part ul button i {
    color: #0065FC;
}

#infos {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 24px;
    padding-top: 35px;
}

#infos i {
    color: #0065FC;
    border: 1px solid rgb(185, 184, 184);
    padding: 4px 8px;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    width: 1340px;
    height: 614px;
    gap: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 35px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 871px;
    height: 614px;
}

.hebergements-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.hebergements-card .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    width: 250px;
    height: 207px;
    gap: 4px;
}

.hebergements-card img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-card .card-content {
    width: 250px;
    height: 64px;
    gap: 8px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.card-txt h3 {
    font-size: 16px;
    padding-bottom: 5px;
}

.card-txt p {
    font-size: 14px;
}

.hebergements > h3 {
    height: 21px;
    text-align: left;
    padding: 20px 0;
}

/****** Populaires ***********/
.populaires {
    width: 429px;
    height: 614px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    height: 498px;
    width: 369px;
    gap: 30px;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
    width: 369px;
    height: 146px;
}

.populaires-cards img {
    width: 123px;
    height: 136px;
    border-radius: 20px 0 0 20px;

}

.populaires-cards .card-content {
    width: 246px;
    padding: 10px 5px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 11px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 7px;
}

/****** Activities ******/

.activities {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    padding: 0 30px;
    width: 1340px;
    height: 559px;
    gap: 20px;
}

.activities h2 {
    padding: 30px 0 40px 0;
    font-size: 22px;
    height: 30px;
}

.activities .activities-card {
    display: flex;
    gap: 30px;
}

.activities-card article {
    flex: 1;
    min-width: 200px;
    max-width: 300px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 439px;
}

.activities-card img {
    width: 297px;
    height: 380px;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
}

.activities-card .card-title {
    padding: 20px 19px;
    height: 59px;
}

/****** Footer ******/

footer {
    height: 163px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    margin-top: 50px;
    padding-right: 20%;
}

footer .footer-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

footer h3 {
    padding-bottom: 10px;
    height: 21px;
    font-weight: bold;
}

footer ul {
    list-style: none;
    gap: 17px;
    display: flex;
    flex-direction: column;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {    
    body {
        width: auto;
        height: 1893px;
    }

    .search-part {
        width: 924px;
        height: 322px;
    }

    .search-part .filtres-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .filtres-container p {
        padding: 0;
    }

    #infos {
        padding-top: 70px;
    }

    .hebergements-and-populaires {
        width: 924px;
        height: 914px;
        flex-direction: column;
        margin-top: 30px;
    }

    .hebergements {
        height: 611px;
    }

    
    .hebergements {
        width: 100%;
    }
    
    .populaires {
        width: 100%;
        height: 252px;
    }
    
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 146px;
        width: 864px;
        gap: 20px;
    }
    
    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card img {
        width: 90px;
    }

    .populaires-cards .card-content {
        height: 136px;
        width: 183px;
    }
    
    .populaires-cards .card-title {
        font-size: 16px;
        margin-top: 0;
    }
    
    .populaires-cards .card-subtitle {
        font-size: 14px;
    }
    
    .activities {
        height: 390px;
        width: 924px;
    }

    .activities-card {
        height: 270px;
        width: 864px;
    }
    
    .activities-card article {
        width: 193px;
        height: 270px;
    }
    
    .activities-card img {
        height: 200px;
        width: 200px;
    }
    
    .activities-card h3 {
        padding: 20px 19px;
        height: 19px;
    }

    footer {
        padding-right: 10%;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .main-container {
        width: 100%;
        height: auto;
        padding: 0;
    }
    header {
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
   }

   nav  a{
    /* border-bottom: 3px solid #F2F2F2; */
   }

   nav a:hover {
    border-bottom: 3px solid #0065FC;
    border-top: none;
    width: 50%;
   }

   .search-part {
    height: auto;
    width: 100%;
    padding: 0 20px;
   }

   .search-part form {
    width: 100%;
    height: auto;
   }

   #loc {
    width: 15%;
   }

   .search-part input[type="text"] {
    width: 70%;
   }

   .search-part button[type="submit"] span {
    display: none;
   }

   .search-part button[type="submit"] {
    align-items: flex-end;
    width: 15%;
    height: auto;
   }

   .search-part #loupe {
    display: block;
    color: #F2F2F2;
    padding-bottom: 17px;
   }

   .search-part .filtres-container {
    width: 100%;
    height: auto;
   }

   .search-part ul {
    gap: 10px;
    justify-content: flex-start;
    flex-wrap: wrap;
   }

   .search-part ul li {
    flex: 1 1 43%;  
    min-width: 162px;  
   }

   .filtres-container ul li button {
    font-size: 14px;
    width: 162.5px;
   }

   #infos {
    margin-top: 0;
    padding: 0;
   }

   section .hebergements-and-populaires {
    border-radius: 0px;
   }

   .hebergements-and-populaires {
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: auto;
    width: 100%;
    gap: 15px;
    margin: 0;
    padding: 0;
   }

   section .populaires {
    height: 569px;
    gap: 15px;
    padding: 30px 20px;
    border-radius: 0;
    width: 100%;
   }

   .populaires-title {
    margin-bottom: 15px;
   }

   .populaires-cards {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
   }

   .populaires-cards .card {
    margin: 0;
    width: 100%;
    padding: 5px;
   }

   .hebergements-and-populaires .hebergements {
    background-color: #FFFF;
   }

   section .hebergements {
    width: 100%;
    height: 1435px;
    padding: 30px 20px;
    gap: 15px;
   }

   .hebergements-title {
    margin-bottom: 15px;
   }

   .hebergements-card {
    flex-direction: column;
    align-items: flex-start;
   }

   .hebergements-card .card {
    margin: 0;
    width: 100%;
    height: 207px;
    padding-bottom: 15px;
   }

   .activities {
    width: 100%;
    height: 965px;
   }

   .activities-card {
    flex-direction: column;
    align-items: flex-start;
   }

   .activities .activities-card {
    gap: 15px;
    width: 100%;
   }

   .activities-card .card {
    width: 100%;
    height: 200px;
   }

   .activities-card .card img {
    width: 100%;
    height: 141px;
   }

   footer {
    flex-direction: column;
    width: 100%;
    height: auto;
   }
}
